<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SpeedRead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD45A03F19E13B99006555A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD45A05819E13B99006555A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD45A06F19E13E0C006555A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD60E9B719E18FC30010AF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD746B4C19E1A37D00F8E63B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDBC65B319E19DF900714E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDE94F119E1923100D38B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDE950619E1959200D38B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDE951B19E1960800D38B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDE952B19E1964900D38B25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
